* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.first-container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    width: 160px;
    padding: 60px 0;
}

nav {
    display: flex;
    gap: 10px;
}

button {
    background-color: transparent;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: Montserrat;
    padding: 5px 10px;
    color: #000;
    font-size: 13px;
    font-weight: 300;
}

.nav a:hover {
    border: 1px solid rgba(209, 169, 84, 0.90);
    color: rgba(209, 169, 84, 0.90);
}

.box {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.inner-box {
    position: absolute;
    bottom: -160px;
    left: 0;
    right: 0;
    transition: 0.6s;
    background: rgba(209, 169, 84, 0.90);
}

.box-wrapper {
    padding: 15px 20px;
}

.text {
    text-align: center;
    border: solid rgba(255, 255, 255, 0.50);
    padding: 20px 0;
}


.text p:nth-child(1) {
    margin: 0 auto;
    max-width: 280px;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
}

.text p:nth-child(2) {
    margin: 0 auto;
    max-width: 280px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.box:hover .inner-box {
    bottom: 0;
    left: 0;
    right: 0;
}

.slider {
    margin: 60px 814px 120px 814px;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc svg {
    margin-bottom: 10px;
}

.desc p:nth-child(1) {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 52px;
}

.desc p:nth-child(2) {
    color: #000;
    text-align: center;
    font-size: 9px;
    font-weight: 300;
}

.pic {
    width: 202px;
}

.mini-pic {
    width: 40px;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 150px 0;
}

.grid-wrapper .div1 {
    grid-area: 1 / 1 / 5 / 4;
}

.grid-wrapper .div2 {
    grid-area: 1 / 4 / 5 / 9;
}

.grid-wrapper .div3 {
    grid-area: 1 / 9 / 5 / 13;
}

.grid-wrapper .div6 {
    grid-area: 5 / 8 / 9 / 13;
}

.grid-wrapper .div4 {
    grid-area: 9 / 8 / 13 / 13;
}

.grid-wrapper .div5 {
    grid-area: 5 / 1 / 13 / 8;
}

.second-container {

    width: 100%;
    position: relative;
}



.offer-section {
    padding: 120px 0 120px 0;
}

.more-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 135px;
    left: 650px;
}

.more-information p {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
}

.buttons {
    display: flex;
    gap: 90px;
}

.plan {
    padding: 20px 50px;
    background-color: #FFF;
}

.presentation {
    padding: 20px 46px;
    background-color: #FFF;
}


.message {
    border:  0.5px solid #D0D0D0;
}

.send-button button {
    padding: 12px 36px;
    background-color:rgba(209, 169, 84, 0.90) ;
}

.send-button button:hover {
background-color:transparent ;
}


input {
    border: none;
    border-bottom: 0.5px solid #D0D0D0;
}

.advt .advt-text:nth-child(1) {
    color: #000;
    font-size: 36px;
    font-weight: 300;
}

.advt .advt-text:nth-child(2) {
    color: #616161;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 44px;
}

.subtitle {
    margin-bottom: 30px;
}

.inst-section {
    background-color: #F9F7F7;
}

.inst-content {
    padding: 120px 0 90px 0;
    gap: 8px;
}

.inst-content p:nth-child(1) {
    color: #222;
    font-size: 36px;
    font-weight: 300;
}

.inst-content p:nth-child(3) {
    color: #222;
    font-size: 9px;
    font-weight: 300;
}

.col-2 {
    padding: 0;
}

.footer-content p {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    padding: 40px 0 24px 0;
}

.about-section {
    padding-bottom: 600px;
}
.advantage-section {
    background-color:#F9F7F7 ;
}
.advantage-info {
    margin-top: -895px;
    padding-top: 355px;
    padding-bottom: 90px;
}

